---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Computer Technician",
    company: "Knowmad Mood",
    description:
      "Participado en el programa de formación de UGrowth Experience donde he realizado formaciones acerca de Scrum, Salesforce, Mulesoft, Java Spring Boot y Mainframes.",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "Octubre 2023 - Junio 2024",
    title: "Becario IT",
    company: "Eurofragance SLU",
    description:
      "Desempeñado cargo de Help Desk solucionando diferentes problemas a usuarios. Monitorización y administracion de la infrastructura de red. Implementación de un sistema de centralización de logs.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
