---
const technologies = [
  { name: 'HTML', image: '/html.png' },
  { name: 'CSS', image: '/css.png' },
  { name: 'JavaScript', image: '/javascript.png'},
  { name: 'Node.Js', image: '/node-js.png'}
];
---
<!-- Falra desarrollar   
<section class="py-12">
    <div class="container mx-auto text-center">
      <h2 class="text-3xl font-bold mb-8 text-gray-800"></h2>
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6">
        {technologies.map((tech) => (
          <div 
            class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 hover:scale-105"
          >
            <img src={tech.image} alt={tech.name} />
            <p class="text-gray-700 font-medium">{tech.name}</p>
          </div>
        ))}
      </div>
    </div>
  </section>
  
  -->